/node_modules
/.idea
/sandbox/plain_node_empowered.js
/sandbox/qunit_node_empowered.js
/sandbox/qunit_rhino_empowered.js
/sandbox/dog.test.empowered.js
/sandbox/dog.test.node.empowered.js
/expr.js
/js.jar
/TODO.txt
